<div class="flex flex-col bg-white rounded-lg">
    <div class="w-full draggable">
        <div class="container flex flex-col mx-auto">
            <div class="flex flex-col items-center w-full">
                <a class="text-2xl leading-none logo">
                    Resume Maker
                </a>
                <div class="flex flex-col items-center gap-4 my-4">
                    <div class="flex flex-wrap items-center justify-center gap-5 lg:gap-12 gap-y-3 lg:flex-nowrap text-dark-grey-900">
                        <a class="text-gray-600 cursor-pointer hover:text-black text-lg">About</a>
                        <a class="text-gray-600 cursor-pointer hover:text-black text-lg">Services</a>
                        <a class="text-gray-600 cursor-pointer hover:text-black text-lg">Pricing</a>
                        <a class="text-gray-600 cursor-pointer hover:text-black text-lg">Contact</a>
                    </div>
                    <div class="flex items-center gap-4">
                        <a class="text-grey-700 cursor-pointer hover:text-grey-900">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a class="text-grey-700 cursor-pointer hover:text-grey-900">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-black p-4 w-full text-white text-center">
    <p class="text-base font-normal leading-7 text-center text-grey-700"> Copyright 2025 All rights reserved.</p>
</div>