<app-header></app-header>
<!-- banner section -->
<div class="relative bg-gradient-to-r from-purple-600 to-blue-600 h-80 text-white overflow-hidden">
    <div class="absolute inset-0">
        <img src="https://images.unsplash.com/photo-1522252234503-e356532cafd5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw2fHxjb2RlfGVufDB8MHx8fDE2OTQwOTg0MTZ8MA&ixlib=rb-4.0.3&q=80&w=1080" alt="Background Image" class="object-cover object-center w-full h-full" />
        <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>

    <div class="relative z-10 flex flex-col justify-center items-center h-full text-center">
        <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold leading-tight mb-4">
            Welcome to Our Awesome Website
        </h1>
        <p class="text-lg md:text-xl lg:text-2xl text-gray-300 mb-8">
            Discover amazing features and services that await you.
        </p>
        <div class="flex flex-col sm:flex-row gap-3 items-center">
            <a href="#" class="bg-black text-white hover:bg-transparent border border-black hover:border-white py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
                Create My Resume
            </a>
            <a href="#" class="bg-black text-white hover:bg-transparent border border-black hover:border-white py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
                View Popular Design
            </a>
        </div>
    </div>
</div>
<!-- banner section end -->

<!-- about us section -->
<div class="about-section md:my-10 my-5">
    <div class="container mx-auto">
        <div class="grid md:grid-cols-2 gap-3 items-center">
            <div class="about-img-section w-full">
                <img src="https://dreamgigs.dreamstechnologies.com/angular/template/assets/img/aboutus/about-us-04.jpg" class="rounded-lg shadow-lg w-full" alt="images" />
            </div>
            <div class="w-full bg-white rounded-lg p-5 sm:p-7 md:p-10 shadow-lg md:-ml-32 md:min-h-[500px] flex items-center">
                <div class="about-content">
                    <h3 class="text-3xl md:text-5xl mb-3 font-bold">About us</h3>
                    <h6 class="text-xl mb-3 font-semibold"> Embark on a Journey of Entrepreneurship, Launch Your Seller Profile Today. </h6>
                    <p class="text-lg text-gray-500">
                        Showcase your expertise on a platform designed for success. Create your seller profile, highlight your skills, and set your services apart. Benefit from our robust marketplace that connects you with a global audience. 
                    </p>
                    <div class="flex gap-3 md:gap-5 mt-4">
                        <div class="flex-shrink-0">
                            <ul>
                                <li class="font-semibold">
                                    <i class="fa-regular fa-angle-right text-sm"></i> Set your prices
                                </li>
                                <li class="font-semibold">
                                    <i class="fa-regular fa-angle-right text-sm"></i> Flexible schedule
                                </li>
                                <li class="font-semibold">
                                    <i class="fa-regular fa-angle-right text-sm"></i> Build your reputation
                                </li>
                                <li class="font-semibold">
                                    <i class="fa-regular fa-angle-right text-sm"></i> Provide 24/7 support
                                </li>
                            </ul>
                            <button class="bg-black text-white border border-white hover:bg-white hover:text-black hover:border-black transition-all duration-500 text-lg font-bold rounded-md px-10 py-2 mt-4">Become A Seller</button>
                        </div>
                        <img src="assets/images/about-us-05.webp" class="w-full max-w-80 rounded-xl flex-shrink-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about us section end -->

<!-- resume background design format section -->
<div class="container mx-auto md:my-10 my-5">
    <h2 class="text-center text-2xl md:text-4xl lg:text-5xl font-bold mb-5 md:mb-10">Resume Format</h2>
    <div class="resume-background-design m-3 md:m-0">
        <div class="grid md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-6 gap-3">
            @for(design of designs; track design) {
                <div class="bg-design cursor-pointer relative group rounded-md overflow-hidden">
                    <div class="absolute bg-[rgba(0,0,0,0.5)] top-0 left-0 z-10 h-full w-full opacity-0 group-hover:opacity-100 transition-all duration-500"></div>
                    <img [src]="design" alt="images" />
                    <button class="bg-white text-black text-lg py-2 px-12 rounded-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition-all duration-500 z-10" (click)="selectDesign(design)">
                        Select
                    </button>
                </div>
            }
        </div>
    </div>
</div>
<!-- resume background design format section end -->

<!-- resume form section -->
<div class="container mx-auto md:my-10 my-5">
    <div class="resume-form">
        <h2 class="text-center text-2xl md:text-4xl lg:text-5xl font-bold mb-2">FAQs</h2>
        <h6 class="text-center text-2xl mb-5 md:mb-10">Your Questions, Our Answers: Unveiling the Resume Creation Journey</h6>
        <div class="grid grid-cols-6 gap-3">
            <form [formGroup]="bioDataForm" class="form-section col-span-3">
                <mat-accordion class="space-y-3">
                    <mat-expansion-panel expanded>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="font-bold">
                                Personal Details
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="space-y-3">
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Full Name
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="fullName" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Gender
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <mat-select formControlName="gender">
                                        <mat-option value="Male">Male</mat-option>
                                        <mat-option value="Female">Female</mat-option>
                                        <mat-option value="Other">Other</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Date Of Birth
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput [matDatepicker]="picker" formControlName="dob" />
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Place Of Birth
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="placeOfBirth" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Marital Status
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="maritalStatus" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Religion
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="religion" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Mother Tongue
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="motherTongue" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Caste
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="caste" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Sub Caste
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="subCaste" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Highest Education
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="education" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Job/Occupation
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="occupation" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Organization Name
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="organizationName" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Annual Income
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput type="number" formControlName="annualIncome" />
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="font-bold">
                                Family Details
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="space-y-3">
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Father's Name
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="fatherName" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Father's Occupation
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="fatherOccupation" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Mother's Name
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="motherName" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Mother's Occupation
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="motherOccupation" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Total Brothers
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput type="number" formControlName="totalBrother" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Total Sisters
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput type="number" formControlName="totalSister" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Married Brothers
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput type="number" formControlName="marriedBrother" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Married Sisters
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput type="number" formControlName="marriedSister" />
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="font-bold">
                                Contact Details
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="space-y-3">
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Contact No
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput type="number" formControlName="contactNo" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Father's Contact No
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput type="number" formControlName="fatherContactNo" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Mother's Contact No
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput type="number" formControlName="motherContactNo" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Address
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <textarea matInput formControlName="address"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-between gap-2">
                                <div class="label w-1/5 font-semibold">
                                    Email ID
                                </div>
                                <mat-form-field class="w-4/5" appearance="outline" [subscriptSizing]="'dynamic'">
                                    <input matInput formControlName="email" />
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="font-bold">
                                Upload Photo
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="space-y-3">
                            <div class="border border-1 border-gray-200 p-5 rounded-lg flex justify-center items-center">
                                <label for="profile-photo" class="cursor-pointer bg-black text-white border border-black py-4 px-10 hover:text-black hover:bg-transparent transition-all duration-500 rounded-lg font-semibold">
                                    Upload Image
                                </label>
                                <input type="file" id="profile-photo" (change)="onSelectFile($event)" class="hidden" accept=".jpg,.jpeg,.png,.gif,.bmp,.webp" />
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </form>
            <div class="w-full design-section col-span-3">
                <!-- <div #previewSection class="relative">
                    @if (selectedImage) {
                        <img [src]="selectedImage" [alt]="selectedImage" class="rounded-md w-full" />
                    } @else {
                        <img src="assets/images/layouts/1.jpg" alt="" class="rounded-md w-full" />
                    }
                    <div class="grid grid-cols-2 w-full justify-between gap-2 text-sm absolute top-0 left-0 p-14">
                       <div>
                            @for (field of displayedFields; track field.label) {
                            <div>
                                <span class="font-bold text-xl">{{ field.label }} : </span> <span class="text-lg font-semibold">{{ field.value }}</span>
                            </div>
                            }
                       </div>
                        @if(url) {
                            <img [src]="url" class="h-28 ms-auto" />
                        }
                    </div>
                </div> -->
                <app-preview-data [bioDataForm]="bioDataForm" [url]="url" [selectedImage]="selectedImage"></app-preview-data>
                <div class="flex items-center justify-center gap-3 mt-3">
                    <button (click)="previewResume()" class="cursor-pointer bg-black text-white border border-black py-2 px-10 hover:text-black hover:bg-transparent transition-all duration-500 rounded-lg font-semibold">
                        Preview and Download
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- resume form section end -->

<!-- faqs section -->
<div class="container mx-auto md:my-10 my-5">
    <h2 class="text-center text-2xl md:text-4xl lg:text-5xl font-bold mb-2">FAQs</h2>
    <h6 class="text-center text-2xl mb-5 md:mb-10">Your Questions, Our Answers: Unveiling the Resume Creation Journey</h6>
    <div class="m-3 md:m-0 space-y-3">
        <mat-accordion class="space-y-3">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="font-bold">
                        HTML
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="font-bold">
                        HTML
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="font-bold">
                        HTML
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="font-bold">
                        HTML
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<!-- faqs section end -->
<app-footer></app-footer>